#livObt {
  margin-left: 80%;
  position: relative;
  bottom: 400px;
  width: 10%;
  padding: 20px;
  cursor: pointer;
  h3 {
    color: #0b610b;
  }
}

#loja {
  position: relative;
  right: 200px;
  bottom: 620px;
  width: 50%;
}
