#pagLid {
  display: inline-block;
  margin-left: 80%;
  position: relative;
  bottom: 445px;
  width: 10%;
  padding: 20px;
  input {
    width: 50%;
    text-align: center;
    margin-left: 45px;
  }
}
