h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #00ff7f;
  font-size: 80px;
}

.box {
  display: inline-block;
  background-color: aliceblue;
  padding: 50px;
  margin-left: 530px;
  width: 300px;
  height: 500px;

  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

#box2 {
  margin-left: 10px;
}
